{% extends "learning_logs/base.html" %}

{% block content %}
  <div class="jumbotro">
    <h1 class="display-3">Track your learning.</h1>

    <p class="lead">Make your own Learning Log, and keep a list of the
          topics you're learning about. Whenever you learn something new
          about a topic, make an entry summarizing what you've learned.
    </p>
    <a class="btn btn-lg" href="{% url 'users:register' %}" 
        role="button btn-success"> <button class="p-2 bg-info border-0 rounded-lg text-white "type="submit">Register &raquo;</button></a>
  </div>
{% endblock content %}